@import "tailwindcss";
html {
  scroll-behavior: auto !important;
}
body {
  font-family: "Poppins", sans-serif;
}
.Cormorant {
  font-family: "Cormorant", sans-serif;
}
.Parisienne {
  font-family: "Parisienne", sans-serif;
}
.goudy {
  font-family: "Goudy Bookletter 1911", serif;
}
.space {
  letter-spacing: 3px;
}
button,
input,
textarea {
  outline: none;
  cursor: pointer;
}

html {
  @keyframes confettiFall {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.7;
    animation: confettiFall 5s linear infinite;
  }

  .confetti:nth-child(5n) {
    width: 12px;
    height: 4px;
  }

  .confetti:nth-child(3n) {
    width: 7px;
    height: 7px;
  }

  .confetti:nth-child(7n) {
    width: 15px;
    height: 5px;
  }
}
