@import "tailwindcss";
html {
  scroll-behavior: auto !important;
}
body {
  font-family: "Poppins", sans-serif;
}
.Cormorant {
  font-family: "Cormorant", sans-serif;
}
.Parisienne {
  font-family: "Parisienne", sans-serif;
}
.goudy {
  font-family: "Goudy Bookletter 1911", serif;
}
.space {
  letter-spacing: 3px;
}
button,
input,
textarea {
  outline: none;
  /* background-image: url(./data/product.js); */
}
